*{
    position: relative;
    
}

body{
    background-color: rgb(21, 51, 90);

}
.main{
    height: 500px;
    width: 500px;
    margin: 100px auto;
    padding: 25px;
    box-shadow:5px 8px 10px -10px rgb(47, 48, 48) ;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

h3{
    text-align: center;
    color: #15648e;
}

.icon-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
}

@keyframes wave {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}

.wave-imge{
    animation: wave 2s infinite ease-in-out;
}


.icon-btn img{
    width: 270px;
    height: 270px;
    border-radius: 50%;
}

#icon1 { top: 20%; left: 25%; }

.name{
    position: absolute;
    justify-content: center;
    width: 100%;
    height: 100%;
}

h2{
    text-align: center;
    color: #15648e;
    font-size: 20px;
    top: 100px;
    left: 0px;
}

.name img{
    color: #000;
    width: 20px;
}

.nam1 img{
    color: #000;
    width: 30px;
    left: 260px;
    top: 120px;
}
/* 返回按鈕樣式 */
.back-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 45px;
    height: 45px;
    background-color: rgb(64, 122, 177);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, background-color 0.3s;
}

.back-btn img {
    width: 25px;
    height: 25px;
}

.back-btn:hover {
    transform: translateX(-50%) scale(1.1);
    background-color:#15648e;
}

.icon-container::before {
    content: "";
    position: absolute;
    top: 45%;
    left: 50%;
    width: 220px; /* 波動紋比圖片稍大 */
    height: 220px;
    border-radius: 50%;
    background: linear-gradient(to top ,rgb(158, 207, 230),rgb(28, 132, 176) );
    transform: translate(-50%, -50%) scale(1); /* 初始縮放 */
    animation: ripple 1.5s infinite ease-out; /* 套用波動動畫 */
  }
  
  /* 定義波動動畫 */
  @keyframes ripple {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0.6;
    }
    100% {
      transform: translate(-50%, -50%) scale(1.5);
      opacity: 0; /* 漸隱效果 */
    }
  }